body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  min-width: fit-content;
  height: 100vh;
  min-height: 600px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: black;
  color: rgb(243, 255, 238);
  border: 3px solid white;
}

h3 {
  font-family: "Roboto, Bold", sans-serif;
  text-align: center;
}

label {
  font-family: "Roboto", sans-serif;
  padding-left: 0.3em;
}

nav {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  width: 60vh;
  min-width: 280px;
  border-bottom: 5px solid green;
  background-color: black;
}

a {
  display: flex;
  flex-shrink: 1;
  color: white;
  padding: 0.5em;
  text-align: center;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

a:hover {
  background-color: rgba(240, 248, 255, 0.479);
  color: black;
}

.container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 60vh;
  min-width: 280px;
  min-height: 550px;
  background-color: rgb(32, 32, 31);
}

.container input {
  display: flex;
  flex-shrink: 1;
  min-width: 260px;
  width: 55vh;
  padding: 0.2em;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
  background-color: black;
  color: rgb(75, 248, 40);
  font-family: "Courier, Bold";
}

.container select {
  display: block;
  margin-bottom: 0.5em;
  background-color: black;
  color: rgb(75, 248, 40);
  font-family: "Courier, Bold";
  margin-left: 0.3em;
}

.container textarea {
  display: block;
  margin-bottom: 0.5em;
  padding-left: 6px;
  margin-left: 0.3em;
  width: 55vh;
  min-width: 260px;
  min-height: 60px;
  background-color: black;
  color: rgb(75, 248, 40);
  font-family: "Courier, Bold";
}

.register-btn {
  display: flex;
  background: darkgreen;
  color: white;
  border-color: white;
  border-width: 0.1em;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
  margin: 0 auto;
 align-items: center;
}

.register-btn::before {
  content: "Register";
}

.register-btn::after {
  display: none;
}

.register-btn:hover {
  background-size: 100%;
  background: rgb(248, 235, 56);
  color: rgb(65, 65, 38);
}

.register-btn:hover::before {
  content: "What are you doing?";
}

.register-btn:hover::after {
  display: none;
}

.register-btn:active {
  background-size: 100%;
  background: coral;
  color: white;
}

.register-btn:active::before {
  content: "Let go of me!!!";
}

table {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 100vh;

  float: left;
  text-align: left;
}

.table-titles {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#thead-line {
  display: flex;
  flex-grow: 1;
  width: 55vh;
  border-bottom: 1px solid white;
  margin-top: -5px;
  border-style: dashed;
}

#action-label {
  text-align: center;
}

.btn-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-btn {
  background-color: darkred;
  color: white;
  font-weight: bold;
}

#edit-btn {
  background-color: coral;
  color: white;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  position:sticky;
  width: 100%;
}
